// colors
$navy950: #0B1524;
$navy900: #181f2b;
$navy850: #1b2330;
$navy800: #202a3c;
$navy50: #dfe4f0;

$blue300: #62e0d9;
$blue250: #8adae3;

$red500: #ff4242;

$gray400: #c0c0c0;
$gradient: linear-gradient(90deg, hsla(176, 68%, 64%, 1) 0%, hsla(198, 60%, 50%, 1) 100%);

// breakpoints
$tablet-breakpoint: 600px;
$desktop-breakpoint: 1200px